.monthPickerContainer {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monthPickerButton {
  min-width: 12.5rem;
}

.monthPickerList {
  position: absolute;
  top: 3.125rem;
  z-index: 2;
}

@media (max-width: 62.5rem) {
  .monthPickerContainer {
    width: 100%;
  }
  .monthPickerButton {
    width: 100%;
  }
}
