.sendPasswordResetButton {
  width: max-content;
  text-align: end;
  font-size: 0.875rem;
  font-family: var(--content-font);
  color: var(--ne-c4);
  cursor: pointer;
}

.sendPasswordResetButton:hover {
  color: var(--ne-c11);
  text-decoration: underline;
}
