.confirmEmailNotice {
  color: var(--ne-c2);
}

.confirmEmailNoticeButtons {
  margin-top: 1.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}

.warning {
  color: var(--ne-c4);
}
