.collectionSelectorHeader {
  width: 100%;
  margin-bottom: 1.25rem;
}

.collectionSelectorHeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.625rem;
}

.collectionSelectorHeaderControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
