.collectionSelectorAddListItem {
  max-width: 18.75rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem;
  font-size: 0.75rem;
  color: var(--ne-c2);
  cursor: pointer;
}

.collectionSelectorAddListItem:focus,
.collectionSelectorAddListItem:hover {
  transition: 0.2s;
  background-color: var(--ne-c8);
}

.collectionSelectorAddListItem + .collectionSelectorAddListItem {
  border-top: 1px solid var(--ne-c5);
}

.collectionSelectorAddListItem svg {
  color: var(--ne-c2);
}

.collectionSelectorAddListItemContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.collectionSelectorAddListItemName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  font-weight: var(--medium);
  margin: 0;
}

.collectionSelectorAddListItemValue {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.625rem;
  color: var(--ne-c4);
  gap: 0.375rem;
  margin: 0;
}

.collectionSelectorAddListItemSelectionButton[data-selected="true"] svg {
  color: var(--success);
}

.collectionSelectorAddListItemSelectionButton {
  color: var(--ne-c4);
}

.collectionSelectorAddListItemSelectionButton:hover {
  color: var(--ne-c2);
}
